:root {
  /* Faktor */
  --scaling-factor: 1.1;

  /* Sizes */
  --size-xxs: calc(4px * var(--scaling-factor));
  --size-xs: calc(7px * var(--scaling-factor));
  --size-s: calc(11px * var(--scaling-factor));
  --size-m: calc(18px * var(--scaling-factor));
  --size-l: calc(29px * var(--scaling-factor));
  --size-xl: calc(47px * var(--scaling-factor));
  --size-xxl: calc(76px * var(--scaling-factor));

  /* Font Properties */
  --font-family-serif: "PTserif", georgia, serif;
  --font-family-sans: "Barlow", arial, sans-serif;
  --base-font-size: var(--size-m);
  --font-icons: "Material Icons";

  /* Font Weights */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  /* Line Heights */
  --lh-tight: 110%;
  --lh-default: 130%;
  --lh-loose: 150%;

  /* Opacity */
  --op-medium: 0.6;

  /* Main Colors */
  --color-primary: #85CB33;
  --color-secondary: #EFFFC8;
  --color-accent: #21b897;
  --color-success: #00FF85;
  --color-warning: #FFE600;
  --color-error: #FF1744;

  /* Base Colors */
   --color-steingrau: hsl(42deg 30% 60% / 90%);
  --color-lichtgrau: hsl(200deg 20% 96% / 100%);
  --color-hellgrau: #F5F5F5;
  --color-blaugrau: var(--color-secondary);        
  --color-pink: var(--color-accent);            
  --color-green: var(--color-success);           
  --color-blue: var(--color-primary); ;            
  --color-darkblue: #0A1A4A;        
  --color-yellow: var(--color-warning);          
  --color-light: #FFFBEA;         
  --color-lightest: #FFFFFF;
  --color-lighten: rgb(255 255 255 / 60%);
  --color-lighten-strong: rgb(255 255 255 / 85%);
  --color-dark: #181818;
  --color-darker: #101010;
  --color-darkest: #000000;
  --color-darken: rgb(0 0 0 / 40%);
  --color-darken-strong: rgb(0 0 0 / 90%);
  --color-darken-light: rgb(30 30 0 / 18%);

  /* Functional Colors */
  --interaction-color: var(--color-dark);
  --decoration-color: var(--color-pink);
  --icon-color: var(--color-blue);
  --text-color: var(--color-darker);
  --headline-color: var(--color-darkblue);
  --headline-color-light: var(--color-steingrau);
  --border-color: var(--color-lichtgrau);
  --seperator-color: var(--color-light);
  --background-color: var(--color-lighter);

  /* Transitions */
  --tr-fast: 0.2s;
  --tr-medium: 0.6s;
  --tr-slow: 1s;

  /* Misc */
  --bw: 2px;
  --text-shadow: 0 0 20px rgb(0 0 0 / 90%);
  --box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  --max-width-content: 50rem;
  --aside-width: 20rem;
  --border-width: 2px;
  --radius-xs: 3px;
  --radius-s: 0.5rem;
  --shadow-m: 0 0 10px rgb(0 0 0 / 20%);
  --size-image-thumbnail: 12.5rem;
}
